/* font specimen  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,800;1,400&family=Rubik+Vinyl&family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
main{
    margin: 0;
    height: 100vh;
}
/* header section style */
.top{
    background: beige;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 25px;
    list-style-type: none;
    align-items: center;
}
nav > ul{
    display: flex;
    list-style-type: none;
    margin-left: 20px;
    margin-top: 25px;

}
nav > ul li{
    margin-left: 25px;
    padding-right: 10px;
    
}
ul li a {
    color: rgb(78, 67, 67);
    text-decoration: none;
    list-style: none;
}

/* top body style  */
.top-body{
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.top-body-title{
    font-weight: 900;
    font-size: 38px;
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    color: rgb(44, 40, 40);
}
.top-body-description{
   
    color: rgb(44, 40, 40);
    margin-bottom: 10px;

}
.btn-primary{
    width: 100px;
    height: 33px;
    background:#FF900E;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: aliceblue;
    margin-left: 0;
}
.top-body img{
    margin-top: 15px;
    width: 95%;
    padding-bottom: 30px;
}

/* Features Section  */

.features{
    display: flex;
    align-items: center;
    gap: 30px;
    width: 95%;
    margin-left: 12%;
}

.feature-team{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    align-items: center;
    margin-top: 30px;
}
.feature-description{
    margin-right: 10%;
}
.feature-head{
    font-size: 28px;
}

/* love and enjoy section style */

.love-enjoy{
    display: flex;
    align-items: center;
    gap: 30px;
    width:85%;
    margin-left: 12%;
    margin-top: 35px;
   
}
.love-enjoy-description{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
    background-color: azure;
    
}
.love-enjoy-description h3{
    border-left: 4px solid #FF900E;
    padding-left: 2px;
}

.love-enjoy-description h4{
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
    
}
.love-enjoy img{
    width: 45%;
}
/* button item style */
button{
    width: 300px;
    height: 180px;
    border-radius: 10px;
    background-color: #FF900E ;
    margin-left: 40%;
    margin-top: -100px;
    border-radius: 5px;
    border-style: none;
    color: aliceblue;
}

/* fact section  */
.facts{
    margin-left: 12%;
    margin-top: 30px;
}
.facts h2{
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 20px;
}
 /* icon section  */
 .icons{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-left: 45px;
    margin-top: 25px;
 }
 .img-design{
    display: flex;
    flex-direction: column;
    width: 140px;
    border: 1px solid  #FF900E;
    margin-top: 25px;
    padding: 15px;
    align-items: center;
    border-radius: 5px;
    transition: transform .3s;
 }
 .img-design:hover{
    border: #FF900E;
    transition: .3s;
    background-color: aqua;
 }
 .img-design icon{
    width: 5px;
 }
 /* Experience Section with PR  */
 .experience-PR{
    text-align: center;
    align-items: center;
    width: 50%;
    border: 2px solid goldenrod;
    margin-top: 35px;
    padding: 15px;
    margin-left: 25%;
    background: rgb(195, 223, 141);
    border-radius: 5px;
    color: darkmagenta;
 }
 .experience-PR:hover{
    border: red;
    background-color: cornsilk;
    transition: .5s;
 }

 /* Sponsor section style  */
 .sponsors{
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
 }
 .sponsors h2{
    text-align: center;
    margin: 10px;
 }
 
.sponsor-logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.images{
    display: flex;
    flex-direction: row;
    gap: 35px;
    padding: 35px;
    margin-top: 15px;
    justify-content: space-between;
}
/* copyright section  */
.footer{
    background-color: rgb(243, 234, 222);
    width: 90%;
    height: 70px;
    margin-bottom: 35px;
}

.footer p{
    text-align: center;
    padding-top: 30px;
    
}

/* Media Quary  */
@media only screen and (max-width: 500px){
    .header{
        display: flex;
    }
    nav{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .features{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        overflow: hidden;
        padding-left: 0;
    }
    .feature-team{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        margin: 0;
    }
    experience-PR{
        width: 100%;
        margin: 0;
        font-size: 10px;
        font-family: 'Times New Roman', Times, serif ;
    }
    .images{
        flex-direction: column;
    }
   
}