/* font specimen  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,800;1,400&family=Rubik+Vinyl&family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header section style */
.top{
    background: beige;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 25px;
}
nav > ul{
    display: flex;

}
nav > ul li{
    margin-left: 25px;
    padding-right: 10px;
}
nav ul li a {
    color: rgb(78, 67, 67);
    text-decoration: none;
    list-style: none;
}

/* top body style  */
.top-body{
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.top-body-title{
    font-weight: 900;
    font-size: 38px;
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    color: rgb(44, 40, 40);
}
.top-body-description{
   
    color: rgb(44, 40, 40);
    margin-bottom: 10px;

}
.btn-primary{
    width: 100px;
    height: 33px;
    background:#FF900E;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: aliceblue;
}
.top-body img{
    margin-top: 15px;
    width: 95%;
    padding-bottom: 30px;
}

/* Features Section  */

.features{
    display: flex;
    align-items: center;
    gap: 30px;
    width: 95%;
    margin-left: 12%;
}

.feature-team{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    align-items: center;
    margin-top: 30px;
}
.feature-description{
    margin-right: 10%;
}
.feature-head{
    font-size: 28px;
}

/* love and enjoy section style */

.love-enjoy{
    display: flex;
    align-items: center;
    gap: 30px;
    width:85%;
    margin-left: 12%;
    margin-top: 35px;
   
}
.love-enjoy-description{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
    background-color: azure;
    
}
.love-enjoy-description h4{
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
    
}
.love-enjoy img{
    width: 45%;
}
button{
    width: 300px;
    height: 180px;
    border-radius: 10px;
    background-color: #FF900E ;
    margin-left: 40%;
    margin-top: -100px;
    border-radius: 5px;
    border-style: none;
    color: aliceblue;
}
